/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --green-primary: #70c174;
  --green-secondary: #bef3c0;
  --green-tertiary: #eff7f2;
  --black: #0b0706;
  --primary-text: #1d2130;
  --secondary-text: #525560;
  --off-white: #ebf0f9;
  --border: #e5e5e5;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted var(--green-primary);
  outline-offset: 3px;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  outline: 2px dotted var(--green-primary);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: " Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: var(--secondary-text);
}

img {
  display: flex;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.container {
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

main {
  flex-grow: 1;
}

.btn {
  border-radius: 4px;
  padding: 1.6rem 3.2rem;
}

.primary-btn {
  background: var(--green-primary);
  backdrop-filter: blur(40px);
}

.secondary-btn {
  background: var(--white-color);
  backdrop-filter: blur(40px);
}

.active {
  color: var(--black);
}

h1 {
  margin: 0;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

/* Header Strat */
.header {
  margin-bottom: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
}

.site-logo {
  margin-right: auto;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.site-nav {
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 2rem;
}

.sitenav-item {
}

.nav-link {
  color: var(--secondary-text);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.navbar-btn {
  padding: 1.2rem 1.6rem;
  background: var(--primary-text);
  color: var(--white-color);
  font-weight: 500;
  transition: all 0.3s ease-in;
}

.navbar-btn:hover {
  opacity: 0.8;
}

.navbar-btn:active {
  opacity: 0.6;
}

.active {
  color: var(--black);
}

.hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

/* Header End */

/* FOOTER START */
footer {
  background: var(--black);
  color: var(--white-color);
}

.footer-container {
  display: flex;
  padding: 9.6rem 0;
}

.site-logo-f {
  margin-right: 13rem;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  gap: 12rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.4rem;
}

.footer-item:last-child {
  margin-right: 14.5rem;
}

.footer__link-title {
  color: var(--white-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  width: 8.8rem;
}

.footer-social-link {
  display: block;
  color: var(--white-color);
  width: 7.4rem;
  opacity: 0.78;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.footer-connect {
}

.footer__connect-title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}

.footer-input {
  width: 30.8rem;
  height: 6.4rem;
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  background: var(--black);
}

.footer-input::placeholder {
  padding-left: 2rem;
  color: rgba(235, 240, 249, 0.3);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-btn {
  height: 64px;
  cursor: pointer;
  border: none;
}

/* FOOTER END */
